<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload images</title>
</head>
<body>

    <h1>Image upload</h1>

    <form action="{{ url_for('upload_photos') }}" method="post" enctype="multipart/form-data">
        <label for="myTextBox">What to detect for class :</label>
        <input type="text" id="text_input" name="text_input">
        <br>
        <label for="file">Select images:</label>
        <input type="file" id="file" name="photo_upload[]" accept="image/*" multiple>
        <br>
        <label for="myTextBox">What to detect for class:</label>
        <input type="text" id="text_input" name="text_input">
        <br>
        <label for="file">Select images:</label>
        <input type="file" id="file" name="photo_upload[]" accept="image/*" multiple>
        <br>
        <input type="submit" value="Upload images">
        <br>

        

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

    </form>

    <p><a href="{{ url_for('main_page') }}">Back to home menu</a></p>

</body>
</html>
