<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload machine</title>
</head>
<body>

    <h1>Machine upload</h1>

    <form action="{{ url_for('upload_machine') }}" method="post" enctype="multipart/form-data">
        <label for="myTextBox">Machine name:</label>
        <input type="text" id="machine_name" name="machine_name">
        <br>
        <label for="file">Select file:</label>
        <input type="file" id="file" name="machine_file" accept=".h5">
        <br>
        <input type="submit" value="Upload file">

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

    </form>

    <p><a href="{{ url_for('main_page') }}">Back to home menu</a></p>

</body>
</html>
